@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{
	font-family:"GodoB";
	src:url("../fonts/GodoB.otf"),
		url("../fonts/GodoB.ttf"),
 		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
    	url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
	}
}




html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "GodoB","BMJUA",'Noto Sans KR','Helvetica Neue','Open Sans',sans-serif;
} 

hr {
    max-width: 60px;
    border-color: rgb(41, 153, 134);
    border-width: 3px;
	border-radius: 2px;
}

hr.light {
    border-color: #fff;
}

hr.light-small{
    max-width: 55px;
    border-color: rgba(255,255,255,0.3);
    border-width: 2px;
	border-radius: 2px;
}

.hr-service{
	border-color:rgb(41, 153, 134) !important;
	border-width: 2px;
}

a {
    color: rgb(41, 153, 134);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: rgb(41, 153, 134);
}

h1,
h5,
h6{
/*    font-family: "BMJUA" !important;*/
	font-family: "GodoB", 'Noto Sans KR' !important;
	
}


/*팀원 설명부분*/
h4{
	font-family: "GodoB" !important;
	font-size: 17px;
	opacity: 0.8;
}


p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
	font-family: 'Noto Sans KR' !important;
}


.bg-primary {
	background-image:url(../img/bg-network.jpg);
	min-height:62%;
    background-position: center; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    background-size: cover; 
    -o-background-size: cover;
} 



.text-faded {
    color: rgba(255,255,255,.4);
}

section {
    padding: 100px 0;
}

section #network-sec{
	padding: 50px 50px;
/*	padding: 70px 0;*/
}



.no-padding {
	padding:0;

}

.fa-cube{
	padding-right: 8px;
}

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
/*	margin-left:30px;*/
	padding-left: 30px;
    color: rgb(41, 153, 134);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: rgb(41, 153, 134);
}

.navbar-default .nav{
/*	margin-right: 30px;*/
	padding-right: 30px;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgb(41, 153, 134);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: rgb(41, 153, 134) !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,0.1);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

/*nav내려갈 때 애니메이션*/
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: rgb(41, 153, 134);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: rgb(41, 153, 134);
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;

    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgb(41, 153, 134);
/*        color: #222;		*/
    }
}


.section-heading {
    margin-top: 0;
/*	font-family: "BMJUA" !important;*/
	font-family: "GodoB" !important;
}

.section-heading-t{
	text-transform: uppercase;
	font-family:'Open Sans','Helvetica Neue';
	font-weight: 600;
	font-size: 20px;
	color:#222;
	opacity: 0.8;
}




/*모바일 화면일때, 네트워크 섹션 부분 크기 재 설정*/
@media(max-width:768px){
	.section-heading{
		font-size: 25px;
	}
	.text-faded{
		font-size: 13px;
	}
	#btn-network{
		font-size: 10px;
	}
}

/*모바일일 때about, pdf, team글씨크기 조절*/
@media(max-width:768px){
	.section-heading-t{
		font-size: 20px;
	}
	.service-box .h3{
		font-size: 22px;
	}
	.service-box .text-muted{
		font-size: 13px;
	}
	.call-to-action h3{
		font-size: 18px;
	}
	.download{
		font-size: 10px;
	}
	.bg-light-gray .section-heading-t{
		font-size: 20px;
	}
	.team-member h4{
		font-size: 15px;
	}
	.team-member .text-muted{
		font-size: 13px;
	}
	#data-text{
		font-size: 11px;
	}
	#data-text-tool{
		font-size: 9px;
	}

	
}





.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
	
}

.service-box p {
    margin-bottom: 0;
}

.pdf{
    padding: 40px;
	background-color:rgba(41, 153, 134,0.2);

}


/*만든 사람들*/
.bg-light-gray{
	background-color: #eeeeee;
	padding:auto;
}
.team-member{
	text-align:center;
	margin-top:20px;
}

.img-circle{
	max-width:100%;
	height:auto;
}
.team-member img{
	margin: auto;
	display:block;
	border:5px solid rgba(41, 153, 134,0.3);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.team-member h4{
	margin-top:20px;
	margin-bottom:3px;
	font-weight: 600;
}

.team-member p{
	padding:none;
	font-family: sans-serif;
}
.text-muted-m{
	margin-top:-10px !important;
	font-family: serif;
	font-size: 12px;
	color:rgb(41, 153, 134);
	
}

ul.social-buttons{
	margin-bottom:0 auto;
}
ul.social-buttons 
li a{
	display:inline-block;
	background-color:#222;
	height:30px;
	width:30px;
	border-radius:100%;
	font-size:15px;
	line-height:30px;
	color:#fff;
	outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active{
	background-color:rgba(41, 153, 134,0.8);
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus{
	outline:0;
}


/*analysis 하단 부분 box*/
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(15, 15, 36,0.5);
/*    background: rgba(0, 0,0,.2);*/
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 20px;
/*	font-family: "BMJUA" !important;*/
	font-family: "GodoB" !important;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
	
	
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}



.text-primary {
    color: rgb(41, 153, 134);
}



/*visualization하단섹션padding=no*/
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/*go anaylsis버튼 설정*/
.btn-default {
    border-color: #eeeeee;
    color: rgba(15, 15, 36,0.8);
    background-color: #eeeeee;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}



.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 800;
}

.btn-xl {
    padding: 15px 25px;
	margin: 20px 60px;
}

.btn:hover,
.btn:focus,
.btn:active{
	opacity: 0.7;
}


/*pdf,다운로드 부분*/
.download{
	margin: 10px;
	color:#eeeeee;
	background-color:#333333;
	padding: 13px 16px !important;
}


@media (max-width:768px){
	.download-sec{
		max-width: 100%;	
	}
	.download{
		margin: auto;
		padding:10px 13px;
		font-size: 10px;
	}
}


/*데이터 디자이너 설명 margin*/
#data-designer{
	margin-top: 80px;
	margin-bottom: -80px;
	opacity: 0.8;
}


/*하단 로고*/
.copy{
	background-color:#eeeeee;
	color:#212551;
	font-weight: 700;
	font-size: 11px;
	font-family: sans-serif;
	padding-top:10px;
}

footer{
	padding:15px;
	background-color: #1c1e35;
}

.logo{
	padding:20px; 
	opacity: 0.7;
}

.img-centered{
	max-width:100%;
	height:auto;
}

.logo img{
	margin: auto;
	display:block;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:992px) {
    footer{
       margin: auto;
    }
	
	.img-reponsive{
		max-width: 100%;
		height: 50px;
	}
}


.logo img:hover,
.logo img:focus,
.logo img:active{
	padding: 3px;
}


@media (max-width:768px){
	.logo img:hover,
	.logo img:focus,
	.logo img:active{
		padding: 0px;
	}
}



::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}



body {
    webkit-tap-highlight-color: rgb(41, 153, 134);
}